
# Ignore staticfiles build output (collected static assets)
staticfiles/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
gallery_env/

# IDE/editor config files
.idea/
*.iml

# OS-specific files
Thumbs.db
ehthumbs.db

# Ignore uploaded media (but not preloaded images)
media/*
!media/artists/
!media/artists/**

