{% extends 'gallery/base.html' %}

{% block content %}
<div class="header-image">
    <img src="{{ artist.sample_artwork.image.url }}" alt="{{ artist.sample_artwork.title }}">
</div>
<div class="container">
    <div class="artist-info">
        <div class="text">
            <h3>{{ artist.name }}</h3>
                <p>{{ artist.birth_year }} - {{ artist.death_year }}&nbsp;&nbsp;&nbsp;{{ artist.nationality }}</p>
                <p>{{ artist.bio }}</p>
                <p><strong>Media:</strong> {{ artist.media }}</p>
        </div>
        <div class="portrait">
            <img src="{{ artist.portrait.url }}" alt="{{ artist.name }}'s portrait">
        </div>
    </div>
</div>
<div class="works-grid">
<h4>Artworks</h4>
    {% for artwork in artworks %}
        <div class="works-card">
            <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                <div class="card-body">
                    <h4 class="card-title">{{ artwork.title }}</h4>
                </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
