{% extends 'gallery/base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Artists</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for artist in artists %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ artist.image.url }}" class="card-img-top" alt="{{ artist.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <a href="{% url 'artist_detail' artist.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}