{% extends 'gallery/base.html' %}
{% block content %}
    <main class="artwork-detail-container">
        <h3>{{ artwork.title }}</h3>
        <div class="image-container">
            {% if artwork.image %}
        <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
            {% else %}
            <p>No image available for this artwork.</p>
            {% endif %}
        </div>
        <div class="artwork-details">
            <p><strong>Artist: </strong><a href="{% url 'artist_detail' artwork.artist.id %}">{{ artwork.artist.name }}</a></p>
        <p><strong>Created Date: </strong>{{ artwork.description }}</p>
            <p><strong>Medium: </strong>{{ artwork.medium }}</p>
        {% if artwork.movement %}
        <p><strong>Movement: </strong><a href="{% url 'search_by_movement' artwork.movement.name %}">{{ artwork.movement.name }}</a></p>
        {% endif %}
            </div>
        <a href="{% url 'random_artworks.html' %}" class="primary-btn">Back to Gallery</a>
    </main>
{% endblock %}