{% extends 'base.html' %}

{% block content %}
<h1>Art Gallery</h1>
<div>
    {% for artwork in artworks %}
    <div>
        <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
        <h2>{{ artwork.title }}</h2>
        <p>Artist: <a href="{% url 'artist_detail' artwork.artist.id %}">{{ artwork.artist.name }}</a></p>
        <p>Region: {{ artwork.artist.region }}</p>
        <p>Movement: <a href="{% url 'search_by_movement' artwork.movement.name %}">{{ artwork.movement.name }}</a></p>
        <p>Medium: {{ artwork.medium }}</p>
        <p>{{ artwork.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
