{% extends "gallery/base.html" %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Movements</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movement in movements %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ movement.image.url }}" class="card-img-top" alt="{{ movement.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movement.name }}</h5>
                    <a href="{% url 'movement_detail' movement.name %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
