{% extends 'gallery/base.html' %}

{% block content %}
<h1 class="text-center">{{ movement.name }}</h1>
<div>
    <div class="intro">
        <p>{{ movement.description|linebreaks }}</p>
    </div>
    <div class="artwork-grid">
    {% for artwork in artworks %}
        <a href="{% url 'artist_detail' artwork.artist.id %}" class="artwork-item">
            <div class="artwork-frame">
                <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
            </div>
            <div class="artwork-meta">
                <h3>{{ artwork.title }}</h3>
                <p>Artist: {{ artwork.artist.name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}