{% extends "gallery/base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">Movements</h1>
    <div class="grid-container">
        {% for movement in movements %}
        <a href="{% url 'movement' movement.name %}" class="artwork-item">
            <div class="works-card">
                {% if movement.image %}
                    <img src="{{ movement.image.url }}" alt="{{ movement.name }}">
                {% else %}
                    <p>No image available for this movement.</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ movement.name }}</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
